---
import {Image} from 'astro:assets';

import astroLogo from '../assets/astro.svg';
---

<header>
  <h1>Formizee.</h1>
  <span>+</span>
  <figure>
    <Image 
      src={astroLogo}
      alt="Astro logo"
      height="auto"
      width="120"
    />
  </figure>
</header>

<style>
  header {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;

    h1, span {
      font-weight: 700;
    }

    figure {
      flex-direction: row;
      align-items: center;
      display: flex;
      margin: 0;
      gap: 10px;

      font-size: 25px;
      font-weight: 500;
    }
  }
</style>
